
<div class="my-custom-class share_story_container">
	<div class="container ">
        <div class="row bg-white">
            <div class="d-flex flex-column mb-2 mt-2 col-lg-12">
                <div class="share_story">
                    <b class="story_feed"><a href="javascript:void(0)" (click)="backClicked()"><i class="fas fa-arrow-left"></i></a>&nbsp;{{story.story_title}}</b>
                </div>
                <div class="w-100" [innerHTML]="story.story_content"></div>
            </div>
            
            <div class="d-flex flex-column mb-5 col-lg-8">
                <div><img src="{{story.story_path}}" class="rounded w-100"></div>
               
                    
                <div class="d-flex justify-content-between align-items-center mt-3 mb-5">
                    <div>
                      <div class="user-pic"><img src="{{story.profile_path}}" ></div>
                       <div class="user_name">
                        <p>{{story.name}}</p>
                    
                        <p class="auther">Auther</p>
                      </div>
                    </div>
                    <div>
                        <div class="d-flex justify-content-between align-items-center" (click)="shareStoryMembers()">
                            <div class="share"><i class="fas fa-share-alt"></i></div>
                            <div >Share Stoy</div>
                        </div>
                    </div>
                </div>
              <!--  <div class="d-flex justify-content-between">
                        <button type="button" class="btn btn-secondary previous">Previous Story</button>
                        <button type="button" class="btn btn-secondary next">Next Story</button>
                </div> -->
            </div>
           
        </div>
    </div>
</div>
      
<!-- The Modal -->
<div class="modal-container">
<div class="overlay"></div>
<div class="modal" id="myModal"  [ngStyle]="{'display':display}" >
    <div class="modal-dialog">
      <div class="modal-content">
  
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Select Group Members</h4>
          <button type="button" class="close" data-dismiss="modal" (click)="onCloseHandled()">&times;</button>
        </div>
  
        <!-- Modal body -->
        <div class="modal-body">
            <div class="form-check-inline mb-3">
                <label class="form-check-label">
                    <input type="checkbox" class="form-check-input" value="">muvvasaisudhakar@gmail.com
                </label>
            </div>
            <div class="form-check-inline mb-3">
                <label class="form-check-label">
                    <input type="checkbox" class="form-check-input" value="">saisudhakarm@propertyadviser.in
                </label>
            </div>
            <div class="form-group">
              <button class="btn btn-warning">Share</button>
            </div>
        </div>
  
  
      </div>
    </div>
  </div>
</div>
