<!-- <div class="container">
<div class="row">
    <div class="col-md-6">
   
        <form [formGroup]="sendEmailForm" (ngSubmit)="send(sendEmailForm.value)">
<h2>Invite New Members</h2>
<label>Email Address</label>
            <input class="form-control" matInput formControlName="toAddress">  

          <button [disabled]="!sendEmailForm.valid"> Invite Now</button>
        </form>
        &nbsp; &nbsp;
        <h3>Your Members</h3>
        <div *ngIf="loading else loaded">
                loading ...
              </div>
        <h5 #loaded *ngFor="let obj of listemails" >{{obj.email_id}} <i class="fa fa-times" (click)="removeMember(obj.id)" aria-hidden="true"></i></h5>
    </div>
    <div class="col-md-6">
   
            <form [formGroup]="createGroup" (ngSubmit)="create()">
    <h2>Create Group</h2>
    <label>Group Name</label>
                <input class="form-control" matInput formControlName="name">  
               <label>Select Group Members</label>
                <select formControlName="members" multiple>
                    <option value="{{obj.id}}" *ngFor="let obj of listemails">{{obj.email_id}}</option>
                </select>
                <h2></h2>
              <button > Create</button>
            </form>
            &nbsp; &nbsp;
            <h3>Your Groups</h3>
            <div *ngIf="loading else loaded">
              loading ...
            </div>
            <h5  #loaded *ngFor="let obj of allgroups" >{{obj.group_name}} <i class="fa fa-times" (click)="removeGroup(obj.group_id)" aria-hidden="true"></i>
              <i class="fa fa-share-alt" (click)="sendmailGroup(obj.group_id)" aria-hidden="true"></i>
            
            </h5>
            
          </div>
</div>
</div> -->
<!-- groups-->
<!-- <div class="my-custom-class">
	<div class="container share_story_container">
        <div class="row bg-white">
	    <div class="d-flex flex-column mb-2 mt-2 col-lg-12">
            <div class="share_story">
                <b class="story_feed"><i class="fas fa-arrow-left"></i>&nbsp;My Groups</b>
            </div>
            <p class="mt-3 pl-4">Lorem ipsum, or lipsum as it is sometimes known, is dummy text used in laying out print, graphic or web designs.</p>
        </div> 
        
        <div class="d-flex flex-row justify-content-between mt-4 col-lg-10 cng">

            <div class="shadow p-3 bg-white rounded divselect position-relative"  (click)="openModal()">
              <div class="position-absolute img_align">
               <div class="circlebg rounded-circle">
                    <div class="circle">+</div>
               </div>
               </div>
               <div class="position-absolute newgroup" >Creat New Group</div>
            </div>

            <div *ngFor="let obj of allgroups" class="shadow p-3 mb-5 bg-white rounded divselect position-relative">
                <div class="position-absolute img_align">
                    <div class="circlebg rounded-circle">
                        <img src="./assets/friends.jpg" class="img1 rounded-circle">
                        
                    </div>
                </div>
                <div class="position-absolute friends">
                    <div class="d-flex justify-content-between align-items-center">
                        <div>
                            <i class="fa fa-times" (click)="removeGroup(obj.group_id)" aria-hidden="true"></i>
                            <div class="newgroup imglineheight">{{obj.group_name}} ({{obj.countt}})</div>
                            <div class="d-flex flex-row justify-content-center">
                                
                                <div *ngFor="let i of Arr(+obj.countt).fill(1)"> 
                                  <img src="assets/icon.png" class="circleimg rounded-circle" title="">
                                </div>
                              
                            </div>
                        </div> 
                        <div>
                             <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="customCheck" name="example1">
                                <label class="custom-control-label" for="customCheck">&nbsp;</label>
                             </div>
                        </div>
                    </div>
                </div>
            </div>

           
          
        </div>
            <div class="d-flex justify-content-between col-lg-12 mt-5 mb-5">
                    <button type="button" class="btn btn-warning" (click)="openModal1()">Invite New Member</button>
                   
            </div> 

        
        </div>
    </div>
</div> -->

<div class="container">
  <div class="row bg-white">
    <div class="col-12">
        <div class="d-flex col-lg-12 mt-5 mb-5 flex-buttons">
            <button type="button" class="btn btn-warning mr-3 spl-buttons" (click)="openModal1()"><span class="added-group"><i class="fa fa-user"></i></span>Invite New Member</button>
            <button type="button" class="btn btn-warning spl-buttons" (click)="openModal()"><span class="added-group"><i class="fa fa-plus"></i></span>Create New Group</button>
           
         </div>
  
      <div class="d-flex flex-column mb-2 mt-2">
          <div class="share_story">
              <b class="story_feed"><i class="fas fa-arrow-left"></i>&nbsp;My Groups</b>
          </div>
          <p class="mt-3">Lorem ipsum, or lipsum as it is sometimes known, is dummy text used in laying out print, graphic or web designs.</p>
      </div>
     
      <div class="row row-cols-1 row-cols-lg-3 row-cols-md-2">
        <div class="col">
            <div class="card mb-3">
                <div class="card-bg text-center">
                <div class="upload">
                  <input type="file" class="file-upload"/>
                <img src="https://loiane.com/assets/images/loiane.jpg" class="card-img-top" alt="...">
                <span class="edit-image"><i class="fa fa-pen"></i></span>
                 </div>
                <h5 class="card-title mt-2">Writers Club Dev</h5>
                <small>Provide Group Subject and optional group icon</small>
                 </div>
                <div class="card-body">
                  <h3 class="groupinfo">Group Members <span class="coun badge">05</span></h3>
                  <div class="row row-cols-4 row-cols-sm-5 row-cols-md-4">
                    <div class="thumb-nail mt-2">
                        <img src="https://loiane.com/assets/images/loiane.jpg" class="card-img-top" alt="...">
                        <span class="times">&times;</span>
                    </div>
                    <div class="thumb-nail mt-2">
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQxD4QBqR-luFOeCAFhz6tjGf95AUK7Ugn391-Eh1x8Ljt2FQO3&usqp=CAU" class="card-img-top" alt="...">
                        <span class="times">&times;</span>
                    </div>
                    <div class="thumb-nail mt-2">
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcSNnF7-RLq_O4s3l4-wrobaRSXmPzGUIzMAL1wTVpC3CQ9EqUzt&usqp=CAU" class="card-img-top" alt="...">
                        <span class="times">&times;</span>
                    </div>
                    <div class="thumb-nail mt-2">
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcTxUnVYoHEP0FA6S9gxEPFsXHam9dQ5KVdeTUg9YwbKan0YTemj&usqp=CAU" class="card-img-top" alt="...">
                        <span class="times">&times;</span>
                    </div>
                    <div class="thumb-nail mt-2">
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRtsKhIqOqzptqPAVUsTlnA5obdgeZ5OYDv71irJkekbNBs_40N&usqp=CAU" class="card-img-top" alt="...">
                        <span class="times">&times;</span>
                    </div>
                  </div> 
                  
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card mb-3">
                <div class="card-bg text-center">
                <div class="upload">
                <img src="https://loiane.com/assets/images/loiane.jpg" class="card-img-top" alt="...">
                <span class="edit-image"><i class="fa fa-pen"></i></span>
                 </div>
                <h5 class="card-title mt-2">Writers Club Dev</h5>
                <small>Provide Group Subject and optional group icon</small>
                 </div>
                <div class="card-body">
                  <h3 class="groupinfo">Group Members <span class="coun badge">05</span></h3>
                  <div class="row row-cols-4 row-cols-sm-5 row-cols-md-4">
                    <div class="thumb-nail mt-2">
                        <img src="https://loiane.com/assets/images/loiane.jpg" class="card-img-top" alt="...">
                        <span class="times">&times;</span>
                    </div>
                    <div class="thumb-nail mt-2">
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQxD4QBqR-luFOeCAFhz6tjGf95AUK7Ugn391-Eh1x8Ljt2FQO3&usqp=CAU" class="card-img-top" alt="...">
                        <span class="times">&times;</span>
                    </div>
                    <div class="thumb-nail mt-2">
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcSNnF7-RLq_O4s3l4-wrobaRSXmPzGUIzMAL1wTVpC3CQ9EqUzt&usqp=CAU" class="card-img-top" alt="...">
                        <span class="times">&times;</span>
                    </div>
                    <div class="thumb-nail mt-2">
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcTxUnVYoHEP0FA6S9gxEPFsXHam9dQ5KVdeTUg9YwbKan0YTemj&usqp=CAU" class="card-img-top" alt="...">
                        <span class="times">&times;</span>
                    </div>
                    <div class="thumb-nail mt-2">
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRtsKhIqOqzptqPAVUsTlnA5obdgeZ5OYDv71irJkekbNBs_40N&usqp=CAU" class="card-img-top" alt="...">
                        <span class="times">&times;</span>
                    </div>
                  </div> 
                  
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card mb-3">
                <div class="card-bg text-center">
                <div class="upload">
                <img src="https://loiane.com/assets/images/loiane.jpg" class="card-img-top" alt="...">
                <span class="edit-image"><i class="fa fa-pen"></i></span>
                 </div>
                <h5 class="card-title mt-2">Writers Club Dev</h5>
                <small>Provide Group Subject and optional group icon</small>
                 </div>
                <div class="card-body">
                  <h3 class="groupinfo">Group Members <span class="coun badge">05</span></h3>
                  <div class="row row-cols-4 row-cols-sm-5 row-cols-md-4">
                    <div class="thumb-nail mt-2">
                        <img src="https://loiane.com/assets/images/loiane.jpg" class="card-img-top" alt="...">
                        <span class="times">&times;</span>
                    </div>
                    <div class="thumb-nail mt-2">
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQxD4QBqR-luFOeCAFhz6tjGf95AUK7Ugn391-Eh1x8Ljt2FQO3&usqp=CAU" class="card-img-top" alt="...">
                        <span class="times">&times;</span>
                    </div>
                    <div class="thumb-nail mt-2">
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcSNnF7-RLq_O4s3l4-wrobaRSXmPzGUIzMAL1wTVpC3CQ9EqUzt&usqp=CAU" class="card-img-top" alt="...">
                        <span class="times">&times;</span>
                    </div>
                    <div class="thumb-nail mt-2">
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcTxUnVYoHEP0FA6S9gxEPFsXHam9dQ5KVdeTUg9YwbKan0YTemj&usqp=CAU" class="card-img-top" alt="...">
                        <span class="times">&times;</span>
                    </div>
                    <div class="thumb-nail mt-2">
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRtsKhIqOqzptqPAVUsTlnA5obdgeZ5OYDv71irJkekbNBs_40N&usqp=CAU" class="card-img-top" alt="...">
                        <span class="times">&times;</span>
                    </div>
                  </div> 
                  
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card mb-3">
                <div class="card-bg text-center">
                <div class="upload">
                <img src="https://loiane.com/assets/images/loiane.jpg" class="card-img-top" alt="...">
                <span class="edit-image"><i class="fa fa-pen"></i></span>
                 </div>
                <h5 class="card-title mt-2">Writers Club Dev</h5>
                <small>Provide Group Subject and optional group icon</small>
                 </div>
                <div class="card-body">
                  <h3 class="groupinfo">Group Members <span class="coun badge">05</span></h3>
                  <div class="row row-cols-4 row-cols-sm-5 row-cols-md-4">
                    <div class="thumb-nail mt-2">
                        <img src="https://loiane.com/assets/images/loiane.jpg" class="card-img-top" alt="...">
                        <span class="times">&times;</span>
                    </div>
                    <div class="thumb-nail mt-2">
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQxD4QBqR-luFOeCAFhz6tjGf95AUK7Ugn391-Eh1x8Ljt2FQO3&usqp=CAU" class="card-img-top" alt="...">
                        <span class="times">&times;</span>
                    </div>
                    <div class="thumb-nail mt-2">
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcSNnF7-RLq_O4s3l4-wrobaRSXmPzGUIzMAL1wTVpC3CQ9EqUzt&usqp=CAU" class="card-img-top" alt="...">
                        <span class="times">&times;</span>
                    </div>
                    <div class="thumb-nail mt-2">
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcTxUnVYoHEP0FA6S9gxEPFsXHam9dQ5KVdeTUg9YwbKan0YTemj&usqp=CAU" class="card-img-top" alt="...">
                        <span class="times">&times;</span>
                    </div>
                    <div class="thumb-nail mt-2">
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRtsKhIqOqzptqPAVUsTlnA5obdgeZ5OYDv71irJkekbNBs_40N&usqp=CAU" class="card-img-top" alt="...">
                        <span class="times">&times;</span>
                    </div>
                  </div> 
                  
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card mb-3">
                <div class="card-bg text-center">
                <div class="upload">
                <img src="https://loiane.com/assets/images/loiane.jpg" class="card-img-top" alt="...">
                <span class="edit-image"><i class="fa fa-pen"></i></span>
                 </div>
                <h5 class="card-title mt-2">Writers Club Dev</h5>
                <small>Provide Group Subject and optional group icon</small>
                 </div>
                <div class="card-body">
                  <h3 class="groupinfo">Group Members <span class="coun badge">05</span></h3>
                  <div class="row row-cols-4 row-cols-sm-5 row-cols-md-4">
                    <div class="thumb-nail mt-2">
                        <img src="https://loiane.com/assets/images/loiane.jpg" class="card-img-top" alt="...">
                        <span class="times">&times;</span>
                    </div>
                    <div class="thumb-nail mt-2">
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQxD4QBqR-luFOeCAFhz6tjGf95AUK7Ugn391-Eh1x8Ljt2FQO3&usqp=CAU" class="card-img-top" alt="...">
                        <span class="times">&times;</span>
                    </div>
                    <div class="thumb-nail mt-2">
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcSNnF7-RLq_O4s3l4-wrobaRSXmPzGUIzMAL1wTVpC3CQ9EqUzt&usqp=CAU" class="card-img-top" alt="...">
                        <span class="times">&times;</span>
                    </div>
                    <div class="thumb-nail mt-2">
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcTxUnVYoHEP0FA6S9gxEPFsXHam9dQ5KVdeTUg9YwbKan0YTemj&usqp=CAU" class="card-img-top" alt="...">
                        <span class="times">&times;</span>
                    </div>
                    <div class="thumb-nail mt-2">
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRtsKhIqOqzptqPAVUsTlnA5obdgeZ5OYDv71irJkekbNBs_40N&usqp=CAU" class="card-img-top" alt="...">
                        <span class="times">&times;</span>
                    </div>
                  </div> 
                  
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card mb-3">
                <div class="card-bg text-center">
                <div class="upload">
                <img src="https://loiane.com/assets/images/loiane.jpg" class="card-img-top" alt="...">
                <span class="edit-image"><i class="fa fa-pen"></i></span>
                 </div>
                <h5 class="card-title mt-2">Writers Club Dev</h5>
                <small>Provide Group Subject and optional group icon</small>
                 </div>
                <div class="card-body">
                  <h3 class="groupinfo">Group Members <span class="coun badge">05</span></h3>
                  <div class="row row-cols-4 row-cols-sm-5 row-cols-md-4">
                    <div class="thumb-nail mt-2">
                        <img src="https://loiane.com/assets/images/loiane.jpg" class="card-img-top" alt="...">
                        <span class="times">&times;</span>
                    </div>
                    <div class="thumb-nail mt-2">
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQxD4QBqR-luFOeCAFhz6tjGf95AUK7Ugn391-Eh1x8Ljt2FQO3&usqp=CAU" class="card-img-top" alt="...">
                        <span class="times">&times;</span>
                    </div>
                    <div class="thumb-nail mt-2">
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcSNnF7-RLq_O4s3l4-wrobaRSXmPzGUIzMAL1wTVpC3CQ9EqUzt&usqp=CAU" class="card-img-top" alt="...">
                        <span class="times">&times;</span>
                    </div>
                    <div class="thumb-nail mt-2">
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcTxUnVYoHEP0FA6S9gxEPFsXHam9dQ5KVdeTUg9YwbKan0YTemj&usqp=CAU" class="card-img-top" alt="...">
                        <span class="times">&times;</span>
                    </div>
                    <div class="thumb-nail mt-2">
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRtsKhIqOqzptqPAVUsTlnA5obdgeZ5OYDv71irJkekbNBs_40N&usqp=CAU" class="card-img-top" alt="...">
                        <span class="times">&times;</span>
                    </div>
                  </div> 
                  
                </div>
            </div>
        </div>
      </div>
       

    </div>
  </div>
</div>



<!-- The Modal -->
<div class="modal" id="myModal"  [ngStyle]="{'display':display}">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Create New Group</h4>
        <button type="button" class="close" data-dismiss="modal" (click)="onCloseHandled()">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
          <alert></alert>
        <form [formGroup]="createGroup" (ngSubmit)="create()">
        
          <label>Group Name</label>
                      <input class="form-control" matInput formControlName="name">  
                     <label>Select Group Members</label>
                      <select formControlName="members" multiple>
                          <option value="{{obj.id}}" *ngFor="let obj of listemails">{{obj.email_id}}</option>
                      </select>
                      <h2></h2>
                    <button  class="closee btn btn-danger" > Create</button>
                  </form>
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="closee btn btn-danger" (click)="onCloseHandled()">Close</button>
      </div>

    </div>
  </div>
</div>
<!-- The Modal -->
<div class="modal" id="myModal1"  [ngStyle]="{'display':display1}">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Invite New Members</h4>
        <button type="button" class="close" data-dismiss="modal" (click)="onCloseHandled()">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
      <alert></alert>
        <form [formGroup]="sendEmailForm" (ngSubmit)="send(sendEmailForm.value)">
        
          <label>Email Address</label>
                      <input class="form-control" matInput formControlName="toAddress">  
          
                    <button class=" btn btn-danger" [disabled]="!sendEmailForm.valid"> Invite Now</button>
                  </form>
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class=" btn btn-danger" (click)="onCloseHandled()">Close</button>
      </div>

    </div>
  </div>
</div>