
/* .share_story_container {
    width: 88%;
  } */
  .share_story_container .share_story {
      font-size: 26px;
    
    }
  
   .share_story_container .divselect {
      width: 324px;
      min-height: 74px;
  }
  .share_story_container  .img1 {
    width: 55px;
    height: 47px;
  
  }
  
  .share_story_container  .circlebg {
    width: 74px;
    height: 74px;
    background-color: #f1f3f5;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  
  }
  
  .share_story_container  .img_align {
    left: -30px;
    top: 0px;
  }
  
  .share_story_container  .circlebg .circle {
    background-color: #eca837;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    font-size: 42px;
    font-weight: 800;
    line-height: 44px;
  }
  .share_story_container  .newgroup {
  line-height: 37px;
  font-weight: 700;
  font-size: 18px;
  margin-left: 45px;
  
  }
  
  
  
    .share_story_container  img.circleimg{
      height: 30px;
      width: 30px;
      border-radius: 50%;
    }
  
  
      .share_story_container .friends {
     
        top: 0px;
        width: 94%;
      }
  
      .share {
        color: #fff;
        background-color: #F6C14C;
        border-radius: 40px;
        text-decoration: none;
        background-repeat: repeat-y;
        border: 0px;
        outline: 0px;
        width: 251px;
    }
    .share:hover {
        color: #F6C14C;
        background-color: #fff;
       
    }
  
    .invite {
      color: #F6C14C;
      background-color: #fff;
      border-radius: 40px;
      text-decoration: none;
      background-repeat: repeat-y;
      border: 0px;
      outline: 0px;
      padding: 8px 0px;
      width: 251px;
      margin-left: -30px;
  }
  .invite:hover {
      color: #fff;
      background-color: #F6C14C;
     
  }
  .twomore {
    font-size:12px;
    padding-top: 38px;
    cursor: pointer;
  }
  
  .live__scroll {
    overflow-x: auto;
    white-space: nowrap;
    width: 180px;
    float: right;
  }
  
  .live__scroll--box {
    display: inline-block;
    float: none;
  }
  
  .tution_mate {
    width: 210px;
  }
  
  .custom-checkbox .custom-control-input:checked~.custom-control-label::before {
    background-color: #2b4368;
  }
  
  .custom-control-input:checked~.custom-control-label::before {
    color: #fff;
    background-color: #2b4368;
  }
  
  .closee{
      background: #F6C14C
  }
  .cng{
    margin-left:3rem;
  }
  @media(max-width:575.9px){
    .share_story_container .img_align{
      left:0 ;
    }
    .share_story_container .circlebg{
      width: 50px ;
      height: 75px ;
      background-color: #eca837 ;
      border-radius: 0 !important;
    }
    .cng{
      margin-left:0 ; 
    }
  }
  /*groups new Styles */
  
.card-bg img {
  width: 80px;
  margin: 0 auto;
  border-radius: 100%;
  border: 1px solid #fff;
  height: 100px;
  padding: 5px;
}
.card{
  border:transparent
}
.card-bg {
  background: #f6c141;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    padding: 10px;
}
.card-body {
  box-shadow: 2px 2px 10px #e2e2e2, -2px 2px 10px #e2e2e2
}
.groupinfo{
  font-size: 18px;
}
span.coun {
  background: #f6c141;
    width: 25px;
    height: 25px;
    display: inline-block;
    text-align: center;
    line-height: 25px;
    border-radius: 100%;
    padding: 0;
    color: #fff;
    font-size: 14px;
}
/* .thumb-nail img{
  width: 65px;
  height: 80px;
  border-radius: 100%;
  border: 1px solid #e2e2e2;
  padding: 5px;
} */
.card-body .thumb-nail{
  position: relative;
  text-align: center;
}
/* .times{
  position: absolute;
  right: 15px;
  top: 0px;
  background: #FF9800;
  width: 20px;
  height: 20px;
  line-height: 13px;
  text-align: center;
  color: #fff;
  font-weight: 500;
  font-size: 16px;
  cursor: pointer;
  border-radius: 100%;
  border: 2px solid #fff;
} */
.upload{
  position:relative;
  width:100px;
  margin: 0 auto;
}
.edit-image{
  background: #333;
  width: 35px;
  height: 35px;
  line-height: 35px;
  right: 0px;
  bottom: 15px;
  color: #fff;
  border-radius: 100%;
  position: absolute;
  cursor: pointer;
}
.spl-buttons{
  padding-left: 40px;
  position: relative;
  box-shadow: 2px 2px 5px #e2e2e2, -2px 2px 5px #e2e2e2;
}
.spl-buttons .added-group{
  position: absolute;
  width: 35px;
  left: -1px;
  background: #fff;
  top: -1px;
  bottom: -1px;
  line-height: 35px;
  /* height: 35px; */
  margin-right: 5px;
}
.file-upload{
  position: absolute;
  width: 35px;
  height: 35px;
  right: 0;
  bottom: 13px;
  z-index: 5;
  opacity: 0;
}
.mail-list label{
  width:100%;
  overflow: hidden;
  display:inline-block;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.delete{
  position: absolute;
  right: 15px;
  top: 10px;
  cursor: pointer;
  color: #fff;
  background: #333333;
  padding: 5px;
  border-radius: 5px;
  font-size: 12px;
}
@media(max-width:435px){
  .flex-buttons{
    flex-direction: column;
  }
  .mr-3.spl-buttons{
    margin-right:0 !important;
    margin-bottom: 15px;
  }
 
}
@media(max-width:767.9px){
  .delete{
    font-size: 9px;
  }   
  .card-bg img{
    width: 65px;
    margin: 10px auto;
    height: 85px;
  }
  .edit-image{
    width: 25px;
    height: 25px;
    line-height: 25px;
    right: 10px;
    bottom: 30px;
    font-size: 12px;
  }
}